/subbasins_plots/
/OUT_CONC/combined_out_average_qrun_qsub_qbase_qglac_stg_gw.txt
/OUT_CONC/combined_out_average_snow_rain_we_snowmelt_sca_et.txt
/OUT_CONC/combined_out_flow.txt
/OUT_CONC/combined_out_rainfall.txt
/OUT_CONC/combined_out_reservoir.txt
/OUT_CONC/combined_out_snowfall.txt
/OUT_CONC/combined_out_we.txt